<div id="FormContent">
    <form id="FormUpload" enctype="multipart/form-data" method="post">

        <div style="visibility: hidden;">
            <select name="TaskType" id="TaskType" style="visibility: hidden;">
                <option value="PayMIP">Pay MIP</option>
                <option value="PostTransactions">Post Transactions</option>
                <option value="CreateWarehouseLineFile">Create Warehouse Line File</option>
            </select>
        </div>
        <div class="form-group">
            <select name="SubmittedBy" id="SubmittedBy" style="width: 100%"></select>
        </div>
        <div class="form-group">
            <input type="text" name="TaskName" id="TaskName" placeholder="Task Name" />
        </div>
        <div class="form-group">
            <input type="text" name="TaskDescription" id="TaskDescription" placeholder="Task Description" />
        </div>
        <div class="form-group">
            <input type="file" name="FileToUpload" id="FileToUpload" />
        </div>

        <a href="#" class="button-solid" id="Submit_btn">Submit Task</a>
    </form>

    <div class="progress CustomProgress">
        <div id="FileProgress"
             class="progress-bar" role="progressbar"
             aria-valuenow="0" aria-valuemin="0"
             aria-valuemax="100" style="width: 0%;">
            <span></span>
        </div>
    </div>

    <div class="InfoContainer">
        <div id="Imagecontainer"></div>
        <div id="FileName" class="info">
        </div>
        <div id="FileType" class="info">
        </div>
        <div id="FileSize" class="info">
        </div>
    </div>

    <p>Note: Normally, I would use either "flower up" labels or persistent labels. However, I am using placeholder text in place of labels to match "Contact Us" form styling.</p>
</div>