<div id="FormContent">
    <form id="FormUpload" enctype="multipart/form-data" method="post">

        <div style="visibility: hidden;">
            <select name="TaskType" id="TaskType" style="visibility: hidden;">
                <option value="PayMIP">Pay MIP</option>
                <option value="PostTransactions">Post Transactions</option>
                <option value="CreateWarehouseLineFile">Create Warehouse Line File</option>
            </select>
        </div>
        <div>
                    <label>Task Name</label>
                    <input type="text" name="TaskName" id="TaskName" />
                </div>
                <div>
                    <label>Task Description</label>
                    <input type="text" name="TaskDescription" id="TaskDescription" />
                </div>
                <!-- Type, determined by entry button -->
                <!-- SubmittedBy... Select2 dropdown and ID -->
                <div>
                    <label>CSV File</label>
                    <input type="file" name="FileToUpload" id="FileToUpload" />
                </div>

                <button type="button" id="Submit_btn">Submit Task</button>
                <button id="Cancel_btn">close</button>
    </form>

    <div class="progress CustomProgress">
        <div id="FileProgress"
             class="progress-bar" role="progressbar"
             aria-valuenow="0" aria-valuemin="0"
             aria-valuemax="100" style="width: 0%;">
            <span></span>
        </div>
    </div>

    <div class="InfoContainer">
        <div id="Imagecontainer"></div>
        <div id="FileName" class="info">
        </div>
        <div id="FileType" class="info">
        </div>
        <div id="FileSize" class="info">
        </div>
    </div>
</div>