a.button-solid {
    background-color: #f7a11a;
    color: white;
    border: solid 1px transparent;

    display: inline-block;
    text-align: center;
    margin-top: 10px;
    font-weight: 400;
    line-height: 38px;
    text-transform: capitalize;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 1em;
    padding: 2px 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: 0.45s, all;
    -moz-transition: 0.45s, all;
    transition: 0.45s, all;

    &:hover {
    	color: #f7a11a;
    	background: transparent;
    	border: solid 1px #f7a11a;
    }
}


.button {
	@include wide-kerning;
	text-transform: uppercase;
	background-color: color(button, primary);
	border: 0;
	padding: 1.072em ms(3);
	border-radius: 2px;
	text-align: center;
	line-height: ms(1, 1);
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	transition: background-color ($timing/2) $easing;

	& + &:not(.button--stretch) {
		@include breakpoint($bp-l) {
			margin-top: 0;
			margin-left: ms(0);
		}
	}

	&,
	&:visited,
	&:active,
	&:hover {
		color: color(white);
	}

	&:hover {
		background-color: color(button, primary-hover);
		text-decoration: none;
	}

	&--stretch {
		padding-left: 0;
		padding-right: 0;
		width: 100%;
	}

	&--secondary {
		background-color: color(button, secondary);

		&:hover {
			background-color: color(button, secondary-hover);
		}
	}

	&--tertiary {
		background-color: color(button, tertiary);

		&:hover {
			background-color: color(button, tertiary-hover);
		}
	}

	&--transaction {
		background-color: color(button, transaction);

		&:hover {
			background-color: color(button, transaction-hover);
		}
	}

	&--darken {
		background-color: rgba(0, 0, 0, 0.3);

		&:hover {
			background-color: rgba(0, 0, 0, 0.4);
		}
	}

	&.is-disabled {
		opacity: 0.3;
		cursor: not-allowed;
	}

	@each $color, $tones in $colors {
		@each $tone, $bgcolor in $tones {

			$className: if($tone == 0, #{$color}, #{$color}#{$tone});

			&--#{$className} {
				&,
				&:hover {
					background-color: $bgcolor;
				}
			}

		}
	}

}