<!doctype html>
<html>
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{title}}</title>

	{{#if fabricator}}<link rel="stylesheet" href="{{baseurl}}/assets/fabricator/styles/f.css">{{/if}}

	<!-- toolkit styles -->
	<link rel="stylesheet" href="{{baseurl}}/assets/toolkit/styles/toolkit.css">
	<!-- /toolkit styles -->

	 <!-- "Proxima-Nova" font stolen from GoHomeside website -->
    <script src="https://use.typekit.net/oly6zag.js"></script>
    <style type="text/css"> .sans-serif, .tk-proxima-nova { font-family: "proxima-nova",sans-serif; } </style>
    <link rel="stylesheet" href="https://use.typekit.net/c/e51408/1w;proxima-nova,7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191,2clzCG:W:i4,2clzC9:W:n3,2clzCF:W:n4,2clzCH:W:n6,2clzC5:W:n7/l" media="all">
    

</head>
<body>

	{{#if fabricator}}
		{{> f-icons}}
		{{> f-menu}}
		<div class="f-container">
			{{> f-control-bar}}
	{{/if}}


	{% body %}


	{{#if fabricator}}
		</div>
	<script src="{{baseurl}}/assets/fabricator/scripts/f.js"></script>
	{{/if}}

	<!-- toolkit scripts -->
	<script src="{{baseurl}}/assets/toolkit/scripts/toolkit.js"></script>
	<!-- /toolkit scripts -->

</body>
</html>
