<table id="example" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <!-- <th>Id</th> -->
            <th>Name</th>
            <th>Type</th>
            <th>Status</th>
            <th>Created Date</th>
            <th>Created By</th>
            <th>File Download</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <!-- <th>Id</th> -->
            <th>Name</th>
            <th>Type</th>
            <th>Status</th>
            <th>Created Date</th>
            <th>Created By</th>
            <th>File Download</th>
        </tr>
    </tfoot>
</table>